<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <style>
    a:link {
        color: white;
        text-decoration: none;
    }

    a:visited {
        color: rgb(135, 183, 251);
        text-decoration: none;
    }

    a:hover {
        color: white;
        text-decoration: none;
    }

    a:active {
        color: rgb(135, 183, 251);
        text-decoration: none;
    }
    </style>
    <title> {{ site.title }} </title>
    </head>
    <body style="background-color:black;color:white;" >
        {{content | safe}}
    </body>
</html>
