<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/home.css">
    <title> {{ site.title }} </title>
    </head>
    <body>
        <header id="base-header">
            <a href="https://github.com/ehgus">github</a>
            ✦
            <a href="https://scholar.google.com/citations?user=5OUiLvcAAAAJ&hl">google scholar</a>
        </header>
        <main id="base-main" >
            {{content | safe}}
        </main>
    </body>
</html>
